.banner{
    background-image: url(../j.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 250px 0px;
    height:100vh;
}

.container-e{
     background-image: url(../li.jpg);
     height: 100vh;
}

.container-id{
     background-image: url(../k.jpg);
     height: 100vh;
}

.id{
   background-image: url(../18.jpg);
      background-size: cover;
      height: 100vh;
    background-position: center;
    background-repeat: no-repeat;


    }